@import "../../App.scss";

.loader {
  font-size: 2rem;
  font-weight: 500;
  color: $darkviolet;

  &::after {
    content: "\2026";
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;
    width: 0px;
    animation: dots steps(4, end) 1.5s infinite;
  }
}

@keyframes dots {
  to {
    width: 1.75rem;
  }
}
