@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

$blueviolet: #cdb7f9;
$darkviolet: #8a2be2;
$light-bg: #e3e6f3;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $blueviolet;
}

img {
  display: block;
  width: 100%;
}

.root {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  padding: 2rem 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}